/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
*/

#cboxOverlay {
    background: #000;
}

#colorbox {
    outline: 0;
    
    #cboxContent {
        margin: 0 110px;
        overflow: visible;
        
        #cboxLoadedContent {
            padding-top: 35px;
            
            .info-wrapper {
                height: 1010px;
                overflow: hidden;
            
                &.locked {
                    height: auto;
                }
            
                article {
                    height: inherit;
                }
            }
        }
        
        #cboxClose {
            display: block;
            position: absolute;
            top: 18px;
            left: -130px;
            width: 68px + 50px;
            height: 68px + 50px;
            border: 0;
            background: url(../images/close.png) center center no-repeat;
            @include hide-text;
            outline: 0;
            
            &:active {
                opacity: 0.5;
            }
        }
    }
}

.mejs-overlay-play,
.mejs-overlay-button {
    -webkit-transform: translate3d(0,0,0) !important;
    -webkit-transform: translateZ(0) !important;
}