@font-face {
    font-family: 'Fox';
    src: url('../fonts/foxroman-webfont.svg#foxregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fox';
    src: url('../fonts/foxitalic-webfont.svg#foxitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}