.me-plugin {
    position: absolute;
}

.mejs-embed, .mejs-embed body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

.mejs-background {
    position: absolute;
    top: 0;
    left: 0;
}

.mejs-container {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
        overflow: hidden;
    
    .mejs-clear {
        clear: both;
    }
    
    .mejs-inner {
        display: table-cell;
        vertical-align: middle;
    }
    
    .mejs-poster {
        position: absolute;
        top: 0;
        left: 0;
    
        img {
            display: block;
            border: 0;
            padding: 0;
        }
    }
    
    .mejs-overlay {
        position: absolute;
        top: 0;
        left: 0;
    
        &.mejs-overlay-play {
            .mejs-overlay-button {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 200px;
                height: 200px;
                margin: -100px 0 0 -100px;
                background: rgba(0, 0, 0, 0.5) url(../images/play.png) 68px center no-repeat;
                -webkit-border-radius: 100px;
                border-radius: 100px;
            }
        }
    
        .mejs-overlay-loading {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
        
    .mejs-controls {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        
        .mejs-time-rail {
            .mejs-time-total {
                display: block;
                width: 100%;
                height: 3px;
                background: rgba(255, 255, 255, 0.2);
                
                span {
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 3px;
                }
                
                .mejs-time-current {
                    background: #fff;
                }
                
                .mejs-time-handle,
                .mejs-time-float {
                    display: none !important;
                }
            }
        }
    }
}
