@import "compass/reset";
@import "compass/css3/box-sizing";
@import "fonts";
@import "leaflet";
@import "colorbox";
@import "mediaelementplayer";

* {
    @include box-sizing(border-box);
}

html,
body,
.zoomer {
    width: 100%;
    height: 100%;
}

body {
    background: #000;
    color: #fff;
    font-family: Fox, Helvetica, Arial, sans-serif;
    font-size: 34px;
    line-height: 44px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

em {
    font-style: italic;
}

a {
    color: #fff;
    text-decoration: none;
}

video {
    max-width: 100%;
    height: auto;
}

.swipe {
    position: relative;
    overflow: hidden;
    visibility: hidden;
    height: 100%;
    
    .swipe-wrap {
        position: relative;
        overflow: hidden;
        height: 100%;
        
        > div {
            position: relative;
            float: left;
            
            .info {
                display: none;
            }
        }
    }
}

.video {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: table;
    
    .video-container {
        display: table-cell;
        vertical-align: middle;
    }
}

.info {
    hyphens: auto;
    
    p {
        text-indent: 44px;
        
        &:first-child {
            text-indent: 0;
        }
    }
}

.tombstone {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 40px 25px 30px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    
    .title {
        font-family: Fox;
        font-style: italic;
    }
}

nav {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px 40px 25px 30px;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.6);
    
    .no-touch & {
        display: block;
    }
}