@import "compass/reset";
@import "leaflet";

@font-face {
    font-family: 'Fox Regular';
    src: url('../fonts/foxroman-webfont.eot');
    src: url('../fonts/foxroman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foxroman-webfont.woff') format('woff'),
         url('../fonts/foxroman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fox Italic';
    src: url('../fonts/foxitalic-webfont.eot');
    src: url('../fonts/foxitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foxitalic-webfont.woff') format('woff'),
         url('../fonts/foxitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

html,
body,
.zoomer {
    width: 100%;
    height: 100%;
}

body {
    background: #000;
    color: #fff;
    font-family: 'Fox Regular', Helvetica, Arial, sans-serif;
    font-size: 34px;
    line-height: 44px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

em {
    font-family: 'Fox Italic';
    font-style: italic;
}

a {
    color: #fff;
    text-decoration: none;
}

video {
    max-width: 100%;
    height: auto;
}

.swipe {
    position: relative;
    overflow: hidden;
    visibility: hidden;
    height: 100%;
    
    .swipe-wrap {
        position: relative;
        overflow: hidden;
        height: 100%;
        
        > div {
            position: relative;
            float: left;
        }
    }
}

.video {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: table;
    
    .video-container {
        display: table-cell;
        vertical-align: middle;
    }
}

.tombstone {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 40px 25px 30px;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.5);
    
    .title {
        font-family: 'Fox Italic';
        font-style: italic;
    }
}

.info {
    display: none;
    height: 300px;
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px 40px 25px 30px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
}