<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Info Lounge &mdash; Walker Art Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
    <link href="stylesheets/screen.css" rel="stylesheet">
    <script src="javascripts/modernizr.js"></script>
</head>
<body>
    <div class="intro-wrapper">
        <div class="intro">
            <div class="intro-container">
                <h1>Touch Me</h1>
            </div>
        </div>
    </div>
    
    <div id="slider" class="swipe">
        <div class="swipe-wrap">
            
            <div class="image-view-1 zoomer">
                <article class="info">
                    <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et.</p>
                    <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris.</p>
                </article>
            </div>
            
            <div class="image-view-2 zoomer">
                <article class="info">
                    <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et.</p>
                    <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris.</p>
                </article>
            </div>
            
            <div id="video1" class="zoomer video">
                <div class="video-container">
                    <video width="360" height="203" id="player1" src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4" controls="controls"></video>
                </div>
                <article class="info">
                    <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et.</p>
                    <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris.</p>
                </article>
            </div>
            
            <div class="image-view-3 zoomer">
                <article class="info">
                    <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et.</p>
                    <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris.</p>
                </article>
            </div>
            
            <div class="image-view-4 zoomer">
                <article class="info">
                    <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et.</p>
                    <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris.</p>
                </article>
            </div>
            
        </div>
    </div>
    
    <ul class="tombstone">
        <li class="title">Lorem Ipsum Dolor Sit</li>
        <li class="artist">John Doe</li>
        <li class="year">2013</li>
    </ul>
    
    <div class="info-link">
        <a href="">Info</a>
    </div>
    
    <nav>
        <ul>
            <li><a href="" id="prev" onclick="window.mySwipe.prev(); return false;">Previous</a></li>
            <li><a href="" id="next" onclick="window.mySwipe.next(); return false;">Next</a></li>
        </ul>
    </nav>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="javascripts/underscore-min.js"></script>
    <script src="javascripts/backbone-min.js"></script>
    <script src="javascripts/jquery.colorbox-min.js"></script>
    <script src="javascripts/swipe.js"></script>
    <script src="javascripts/leaflet-src.js"></script>
    <script src="javascripts/zoom_swipe.js"></script>
    <script src="javascripts/flat_image_zoom.js"></script>
    <script src="javascripts/jquery.actual.min.js"></script>
    <script src="javascripts/mediaelement.min.js"></script>
    
    <script type="text/template" id="form-tpl">
        <div class="image-view-3 zoomer">
            <ul class="tombstone">
                <li class="title"><%= title %></li>
                <li class="artist"><%= name %></li>
                <li class="year"><%= year %></li>
            </ul>
            <article class="info">
                <p><%= text %></p>
            </article>
        </div>
    </script>
 
    <script type="text/javascript">
         var data2 = { title: "Title2",artist: "artist2",year: "year2",text: "text2" }
         var compileTemplate2 = _.template($('#form-tpl').html());
         $(".swipe-wrap").append(compileTemplate2(data2));
    </script>
    
    <script src="javascripts/scripts.js"></script>
    
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
