<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Info Lounge &mdash; Walker Art Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="stylesheets/screen.css" rel="stylesheet">
    <script src="javascripts/modernizr.js"></script>
</head>
<body>
    <div class="intro-wrapper">
        <div class="intro">
            <div class="intro-container">
                <h1>Touch Me</h1>
            </div>
        </div>
    </div>
    
    <div id="slider" class="swipe">
        <div class="swipe-wrap">

        </div>
    </div>
    
    <ul class="tombstone">
        <li class="title">Lorem Ipsum Dolor Sit</li>
        <li class="artist">John Doe</li>
        <li class="year">2013</li>
    </ul>
    
    <div class="info-link">
        <a href="">Info</a>
    </div>
    
    <nav>
        <ul>
            <li><a href="" id="prev" onclick="window.mySwipe.prev(); return false;">Previous</a></li>
            <li><a href="" id="next" onclick="window.mySwipe.next(); return false;">Next</a></li>
        </ul>
    </nav>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="javascripts/underscore-min.js"></script>
    <script src="javascripts/backbone-min.js"></script>
    <script src="javascripts/jquery.colorbox-min.js"></script>
    <script src="javascripts/swipe.js"></script>
    <script src="javascripts/leaflet-src.js"></script>
    <script src="javascripts/zoom_swipe.js"></script>
    <script src="javascripts/jquery.actual.min.js"></script>
    <script src="javascripts/mediaelement.min.js"></script>
    
    
    <script src="javascripts/flat_image_zoom.js"></script>
    
    <script type="text/template" id="zoomer">
      <% if (type == "video"){%>
        <div id="<%= id %>" class="zoomer video">
            <div class="video-container">
                <video  id="<%= player_id %>" src="<%= video_src %>" type="video/mp4" controls="controls"></video>
            </div>
            <article class="info">
                <p><%= text %></p>
            </article>
            <ul class="hidden meta">
              <li class="title"><%= title %></li>
              <li class="artist"><%= artist %></li>
              <li class="year"><%= year %></li>
            </ul>
        </div>
          <%
            $(document).ready(function() {
              MediaElement(player_id);
            });
          %>
      <% } %>
      <% if (type == "zoomer"){%>
        <div class="zoomer <%= zoomer_class %>">
            <article class="info">
                <p><%= text %></p>
            </article>
            <ul class="hidden meta">
              <li class="title"><%= title %></li>
              <li class="artist"><%= artist %></li>
              <li class="year"><%= year %></li>
            </ul>
            <%
              $(document).ready(function() {
                Zoomer.zoom_image_by_class({"container":zoomer_class, "tileURL": zoomer_url, "imageWidth": zoomer_width, "imageHeight": zoomer_height});
              });
            %>
        </div>
      <% } %>
    </script>
    
    
    <script>
      var jqxhr = $.getJSON( "test.json", function() {
        console.log( "success" );
      })
      .done(function() { console.log( "second success" ); })
      .fail(function() { console.log( "error" ); })
      .always(function() { console.log( "complete" ); });
    
    
        var lastSlideId = 'image-view-1',
            artworkInfo = '',
            tombstoneTimeout = '',
            tombstoneDuration = 3000,
            introTimeout = '',
            introDuration = 60000;
        
        function displayTombstone() {
            clearTimeout(tombstoneTimeout);
            $('.tombstone').stop(true, true).delay(250).fadeIn(150);
            tombstoneTimeout = setTimeout(function() {
                $('.tombstone').stop(true, true).fadeOut(250);
            }, tombstoneDuration);
        }

        function hideIntro() {
            clearTimeout(introTimeout);
            $('.intro-wrapper').hide();
            introTimeout = setTimeout(function() {
                $('.intro-wrapper').show();
            }, introDuration);
        }
        
        displayTombstone();
        
        var data1 = { type: "zoomer", title: "Title1",artist: "artist1",year: "year1",text: "text1",zoomer_class: "image-view-1",zoomer_url: "http://cdn{s}.walkerart.org/wac_786/{z}_{x}_{y}.jpg",zoomer_width: 4000 ,zoomer_height: 3187}
        var data2 = { type: "video", id: "video1",player_id: "player1", title: "Title2",artist: "artist2",year: "year2",text: "text2",video_src: "http://video-js.zencoder.com/oceans-clip.mp4" }
        
        
        var zoomer_template = _.template($('#zoomer').html());
        
        $(".swipe-wrap").append(zoomer_template(data1));
          
        $(".swipe-wrap").append(zoomer_template(data2));
          
        window.mySwipe = new Swipe(document.getElementById('slider'), {
            callback: function(index,slide) {
                //console.log(slide.id)
                if (Zoomer.zoomers[lastSlideId]) {
                    Zoomer.zoomers[lastSlideId].map.centerImageAtExtents();
                }
                var videoId = lastSlideId+"_player";
                if ($('#'+videoId).length) {
                    var myPlayer = _V_(videoId);
                    if (myPlayer) {
                        myPlayer.pause();
                        //myPlayer.currentTime(0); // removes image? Maybe poster would help?
                    }
                }
                lastSlideId = slide.id; // record this so we know what we're leaving next time
            }
        });
        
        
        $(document).ready(function() {           
            L.DomUtil.disableTextSelection();
        });
        
        $(document).on("click", function(event){
          displayTombstone();
          hideIntro();
        });
        
        $('.info-link').on("click", function(event) {
            event.stopPropagation();
            event.preventDefault();
            //artworkInfo = $(this).parent().children('.info').html();
            artworkInfo = '<article class="info">\
                               <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. <em>Praesent id metus massa, ut blandit odio.</em> Proin quis tortor orci. Etiam at risus et lorem ipsum.</p>\
                               <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>\
                           </article>';
            $.colorbox({
                transition: 'none',
                width: '60%',
                initialWidth: '50%',
                fadeOut: 250,
                opacity: 0.8,
                html: artworkInfo
            });
        });
        
        
    </script>
    
    <!--<script src="javascripts/scripts.js"></script>-->

</body>
</html>
