<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Info Lounge &mdash; Walker Art Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="stylesheets/screen.css" rel="stylesheet">
    <script src="javascripts/modernizr.js"></script>
</head>
<body>
    <div class="intro">
        <video src="videos/intro.mp4" type="video/mp4" width="1920" height="1080" autoplay loop>
    </div>
    
    <div class="status">
        <div class="status-bar">
            <div class="status-pointer">
                <span class="current"></span>/<span class="total"></span>
            </div>
        </div>
    </div>
    
    <div id="slider" class="swipe">
        <div class="swipe-wrap"></div>
    </div>
    
    <ul class="tombstone">
        <li class="title">Lorem Ipsum Dolor Sit</li>
        <li class="artist">John Doe</li>
        <li class="year">2013</li>
    </ul>
    
    <div class="info-link">
        <a href="">Info</a>
    </div>
    
    <nav>
        <ul>
            <li><a href="" id="prev" onclick="window.mySwipe.prev(); return false;">Previous</a></li>
            <li><a href="" id="next" onclick="window.mySwipe.next(); return false;">Next</a></li>
        </ul>
    </nav>

    <div class="info-wrapper" id="info"></div>

    <script src="javascripts/jquery-2.0.1.min.js"></script>
    <script src="javascripts/underscore-min.js"></script>
    <script src="javascripts/backbone-min.js"></script>
    <script src="javascripts/jquery.colorbox-min.js"></script>
    <script src="javascripts/swipe.js"></script>
    <script src="javascripts/leaflet-src.js"></script>
    <script src="javascripts/zoom_swipe.js"></script>
    <script src="javascripts/jquery.actual.min.js"></script>
    <script src="javascripts/mediaelement-and-player.min.js"></script>
    <script src="javascripts/jquery.fs.scroller.min.js"></script>
    <script src="javascripts/flat_image_zoom.js"></script>

    <script type="text/template" id="zoomer">
        <% if (type == "video") {%>
            <div id="<%= id %>" class="zoomer video">
                <div class="video-container">
                    <video id="<%= player_id %>" poster="<%= video_poster %>" src="<%= video_src %>" type="video/mp4" controls="controls"></video>
                </div>
                <div class="hidden slide-article"><article class="info"><%= smarten(text.body) %></article></div>
                <ul class="hidden meta">
                    <li class="title"><%= smarten(title) %></li>
                    <li class="artist"><%= smarten(artist) %></li>
                    <li class="year"><%= smarten(year) %></li>
                </ul>
            </div>
        <% } %>
        <% if (type == "zoomer") {%>
            <div class="zoomer <%= zoomer_class %>">
                <div class="hidden slide-article"><article class="info"><%= smarten(text.body) %></article></div>
                <ul class="hidden meta">
                    <li class="title"><%= smarten(title) %></li>
                    <li class="artist"><%= smarten(artist) %></li>
                    <li class="year"><%= smarten(year) %></li>
                </ul>
            </div>
        <% } %>
    </script>
    <script src="javascripts/scripts.js"></script>
    <!-- <script src="build/wac_infowalls.js"></script> -->
</body>
</html>
