/* line 17, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* required styles */
/* line 15, ../sass/_leaflet.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 20, ../sass/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 26, ../sass/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 32, ../sass/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 36, ../sass/_leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 40, ../sass/_leaflet.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 43, ../sass/_leaflet.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 47, ../sass/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 50, ../sass/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* line 55, ../sass/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 56, ../sass/_leaflet.scss */
.leaflet-objects-pane {
  z-index: 3;
}

/* line 57, ../sass/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 58, ../sass/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 59, ../sass/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 60, ../sass/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* control positioning */
/* line 65, ../sass/_leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

/* line 71, ../sass/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 76, ../sass/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 79, ../sass/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 82, ../sass/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 85, ../sass/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 88, ../sass/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 92, ../sass/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 95, ../sass/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 98, ../sass/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 101, ../sass/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 104, ../sass/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 112, ../sass/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 120, ../sass/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 124, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 132, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 139, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 146, ../sass/_leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 149, ../sass/_leaflet.scss */
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 154, ../sass/_leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 159, ../sass/_leaflet.scss */
.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
/* line 168, ../sass/_leaflet.scss */
.leaflet-container {
  outline: 0;
}

@font-face {
  font-family: 'Fox Regular';
  src: url("../fonts/foxroman-webfont.eot");
  src: url("../fonts/foxroman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/foxroman-webfont.woff") format("woff"), url("../fonts/foxroman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fox Italic';
  src: url("../fonts/foxitalic-webfont.eot");
  src: url("../fonts/foxitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/foxitalic-webfont.woff") format("woff"), url("../fonts/foxitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* line 26, ../sass/screen.scss */
html,
body,
.zoomer {
  width: 100%;
  height: 100%;
}

/* line 31, ../sass/screen.scss */
body {
  background: #000;
  color: #fff;
  font-family: 'Fox Regular', Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 44px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 41, ../sass/screen.scss */
em {
  font-family: 'Fox Italic';
  font-style: italic;
}

/* line 46, ../sass/screen.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 51, ../sass/screen.scss */
video {
  max-width: 100%;
  height: auto;
}

/* line 56, ../sass/screen.scss */
.swipe {
  position: relative;
  overflow: hidden;
  visibility: hidden;
  height: 100%;
}
/* line 62, ../sass/screen.scss */
.swipe .swipe-wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* line 67, ../sass/screen.scss */
.swipe .swipe-wrap > div {
  position: relative;
  float: left;
}

/* line 74, ../sass/screen.scss */
.video {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: table;
}
/* line 80, ../sass/screen.scss */
.video .video-container {
  display: table-cell;
  vertical-align: middle;
}

/* line 86, ../sass/screen.scss */
.tombstone {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px 40px 25px 30px;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
/* line 95, ../sass/screen.scss */
.tombstone .title {
  font-family: 'Fox Italic';
  font-style: italic;
}

/* line 101, ../sass/screen.scss */
.info {
  display: none;
  height: 300px;
  width: 500px;
  background: rgba(0, 0, 0, 0.6);
}

/* line 108, ../sass/screen.scss */
nav {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px 40px 25px 30px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
}
